<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}Typer!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/icons.css') }}">
    {% endblock %}
    {% block js_top %}
        <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{#{% include('main/header.html.twig')  %}#}
<div class="container">
    <div class="row">
        <div class="col-12 maincontent">
            <div class="w-100 alert-container">
                <div class="row">
                    <div class="col-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">&times;</button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>
{% endblock %}
</body>
</html>
